################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
*.log
/bin
/obj
/packages
/Engine/bin
/Engine/obj
/Game/bin
/Game/obj
